<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         >
    <testsuites>
        <testsuite name="upyun test cases">
            <file>./tests/SignatureTest.php</file>
            <file>./tests/UpyunTest.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-clover" target="coverage.clover"/>
    </logging>
</phpunit>
